:root {
  /* --e-primary-green: #67d3a1; */
  --e-primary-green: #1bdd83;
  --e-light-green: #6bf3b4;
  --e-primary-crimson: #dc143c;
  --e-light-crimson: #e74c5b;
  --e-white: #ffff;
  --e-gray: #a7a7a7;
  --e-soft-gray: #ecf0f1;
  --e-surface-ground: #f1f5f9;
  --e-primary-orange: #ff6f61;
  --e-light-orange: #ff897a;
  --e-navy: #1a237e;
  --e-dark-navy: #1b2a41;
  --e-neon-blue: #00a8e8;
  --e-border-color: #e2e8f0;
  --e-black: #000;
  --e-link-active: #dc143c;
  --e-link-visited: #6a5acd;
  --e-link-hover: #ff8c00;
  //------------------------
  --e-inputtext-padding-x: 10px;
  --e-inputtext-padding-y: 5px;
  --e-inputtext-color: #334155;
  --e-form-padding-x: 12px;
  --e-form-padding-y: 6px;
  --e-icon-size: 14px;
  --e-icon-color: #94a3b8;

  --e-floatlabel-position-x: 10px;
  --e-floatlabel-position-y: 5px;
  --e-floatlabel-size: 14px;
  --e-floatlabel-font-weight: 500;
  --e-floatlabel-color: #64748b;
}
