$e-input-text-color: #334155;
$e-input-text-border-color: #cbd5e1;
$e-input-text-active-border-color: #1bdd83;
$e-input-disabled-bg-color: #e6f0ff;
$e-input-invalid-border-color: #ed1010;
$e-input-invalid-text-color: #c70a0a;
.e-input-text {
  border: 1px solid $e-input-text-border-color;
  border-radius: 5px;
  color: $e-input-text-color;
  padding-block: var(--e-inputtext-padding-y);
  padding-inline: var(--e-inputtext-padding-x);
  outline: none;
  outline-color: transparent;
  appearance: none;
  font-size: 14px;
  position: relative;
  transition: all 0.2s;

  &.e-input-text-disabeld {
    pointer-events: none;
    user-select: none;
    background-color: $e-input-disabled-bg-color;
  }

  &.invalid-input {
    border-color: $e-input-invalid-border-color;
    color: $e-input-invalid-text-color;
  }

  &:focus {
    border: 1px solid $e-input-text-active-border-color;
  }

  &.e-input-text-fluid {
    width: 100%;
  }
  &:hover:not(:focus) {
    border-color: var(--e-input-hover-color);
  }
}
// IconFeild
.e-icon-feild {
  position: relative;

  .e-input-icon {
    position: absolute;
    top: 50%;
    margin-top: calc(-1 * var(--e-icon-size) / 2);
    color: var(--e-icon-color);
    line-height: 1;
    font-size: var(--e-icon-size);
  }

  .e-input-icon:first-child {
    padding-inline-start: var(--e-form-padding-x);
  }
  .e-input-icon:last-child {
    inset-inline-end: var(--e-form-padding-x);
  }

  .e-input-text:not(:first-child) {
    padding-inline-start: calc(
      (var(--e-form-padding-x) * 2) + var(--e-icon-size)
    );
  }
  .e-input-text:not(:last-child) {
    padding-inline-end: calc(
      (var(--e-form-padding-x) * 2) + var(--e-icon-size)
    );
  }
}

// FloatLable

.e-float-label {
  position: relative;

  label {
    position: absolute;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    line-height: 1;
    font-weight: var(--e-floatlabel-font-weight);
    font-size: var(--e-floatlabel-size);
    inset-inline-start: var(--e-floatlabel-position-x);
    color: var(--e-floatlabel-color);
  }
  &:has(input:focus) label,
  &:has(input:not(:placeholder-shown)) label {
    background-color: white;
    color: var(--e-primary-green);
    font-size: calc(var(--e-floatlabel-size) - var(--e-floatlabel-size) / 5);
    top: 0;
    z-index: 100;
  }

  &:has(input:not(:placeholder-shown):not(:focus)) label {
    color: var(--e-floatlabel-color);
  }
}

// Textarea

.e-textarea {
  outline: none;
  border: 1px solid var(--e-border-color);
  border-radius: 5px;
  font-size: 14px;
  color: $e-input-text-color;
  background-color: var(--e-textarea-background);
  padding-inline: var(--e-textarea-padding-x);
  padding-block: var(--e-textarea-padding-y);
  transition: all 0.2s ease;
  appearance: none;
  letter-spacing: 0.6px;

  &:enabled:focus {
    border: 1px solid var(--e-primary-green);
  }
  &:hover {
    border-color: var(--e-input-hover-color);
  }
}
