.card {
  background: var(--e-white);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}
.gradient-text {
  background: linear-gradient(
    90deg,
    var(--e-primary-green),
    var(--e-light-green)
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
